/* src/OutstandingInvoice.css */
.outstanding-invoice {
    flex: 1; /* Make both containers take up equal width */
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    max-width: 50%;
}
  
.outstanding-invoice .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #ddd;
  margin-bottom: 10px;
  padding-bottom: 10px;
  max-height: 20px;
  max-width: 94%;
}

.outstanding-invoice .header h3 {
  margin: 0;
  font-size: 14px;
  margin-right: -3%;
}

.invoice-item h4 {
  font-size: 14px;
}

.outstanding-invoice .total-amount {
  font-size: 14px;
  font-weight: bold;
  margin-right: 20px;
  margin-top: 0;
}

.outstanding-invoice .body {
  margin-top: 14px;
}

.outstanding-invoice .date-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.outstanding-invoice .date-toggle button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 10px;
}

.outstanding-invoice .toggle-message {
  text-align: center;
  margin-bottom: 10px;
  color: #888;
}

.outstanding-invoice .divider {
  border-top: 1px solid #ddd;
  margin: 10px 0;
}

.outstanding-invoice .invoice-breakdown {
  display: flex;
  justify-content: space-around;
}

.outstanding-invoice .invoice-item {
  text-align: center;
}
