/* RenewLease.css */
.renew-lease {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 40%;
  max-width: 900px;
}

.renew-lease-header h5 {
  font-size: 14px;
  color: #333;
  margin: 0;
  margin-bottom: 10px;
}

.renew-lease-header {
  border-bottom: 2px solid #ddd;
}

.renew-lease p {
  font-size: 14px;
  font-weight: normal;
  min-height: 30px;
}

.renew-lease button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 10px;
}

.renew-lease button:hover {
  background-color: #0056b3;
}

.renew-lease label {
  display: block;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 5px;
  color: #333;
}

.renew-lease input[type="file"] {
  margin-top: 5px;
  margin-bottom: 10px;
}

