.header {
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
  flex-shrink: 0;
  border-bottom: 1px solid #cfcfcf;
}

.narra-logo {
  font-size: 30px;
  font-family: "Montserrat";
  color: #ddd;
  font-weight: normal;
  margin-right: 20.5px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.left-section {
  display: flex;
  align-items: center;
  background-color: #4a6385;
  color: #fff;
  height: 100%;
  padding: 0 15px;
  width: fit-content;
  margin-left: -1.6%;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.left-section.collapsed {
  width: 34px; /* Shrinks the left section when collapsed */
}

.toggle-button {
  background: none;
  border: none;
  color: #ecf0f1;
  font-size: 1.5em;
  cursor: pointer;
  margin-right: 10px;
}

.header .logo1 {
  width: 140px;
  height: auto;
  transition: opacity 0.3s ease; /* Smooth fading effect for the logo */
}

.left-section.collapsed .logo1 {
  opacity: 0; /* Hide the logo when collapsed */
  pointer-events: none; /* Disable interactions with the logo */
}

.header .navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header .navbar ul li {
  margin-right: 20px;
}

.header .navbar ul li a {
  text-decoration: none;
  color: #333;
  margin-left: 100%;
}

.header .logo2 {
    width: 22px;
    margin-right: 20px;
    margin-top: 10px;
    height: 22px;
}

.header .logo3 {
    width: 22px;
    margin-right: 18px;
    margin-top: 10px;
    height: 22px;
}

.header .logo4 {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    margin-top: 6px;
}

.header .account ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .header .account ul li {
    margin-right: 20px;
    margin-top: 10px;
  }
  
  .header .account ul li b {
    text-decoration: none;
    color: #ffffff;
  }

  .btn-logout {
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
  }
  
  .btn-logout:hover {
    color: #b1b1b1;
  }
