.header {
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
  flex-shrink: 0;
  border-bottom: 1px solid #cfcfcf57;
}

.narra-logo {
  font-size: 30px;
  font-family: "Montserrat";
  color: #000000;
  font-weight: normal;
  margin-right: 20.5px;
  transition: opacity 0.3s ease, transform 0.3s ease;
  margin-bottom: 25%;
}

.left-section {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  color: #fff;
  height: 100%;
  padding: 0 15px;
  width: fit-content;
  margin-left: -1.6%;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.left-section.collapsed {
  width: 34px; /* Shrinks the left section when collapsed */
}

.toggle-button {
  background: none;
  border: none;
  color: #000000;
  font-size: 1.5em;
  cursor: pointer;
  margin-right: 10px;
}

.header .logo1 {
  width: 140px;
  height: auto;
  transition: opacity 0.3s ease; /* Smooth fading effect for the logo */
}

.left-section.collapsed .logo1 {
  opacity: 0; /* Hide the logo when collapsed */
  pointer-events: none; /* Disable interactions with the logo */
}

.header .navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header .navbar ul li {
  margin-right: 20px;
}

.header .navbar ul li a {
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.header .logo2 {
    width: 22px;
    margin-right: 20px;
    margin-top: 10px;
    height: 22px;
}

.header .logo3 {
    width: 22px;
    margin-right: 18px;
    margin-top: 10px;
    height: 22px;
}

.header .logo4 {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    margin-top: 6px;
}

.header .account ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  

.header .account ul li b {
  text-decoration: none;
  color: #ffffff;
}

.btn-logout {
  background: none;
  border: none;
  color: #181616;
  cursor: pointer;
  font-size: 14px;
}

.btn-logout:hover {
  color: #b1b1b1;
}

.right-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 5%;
  padding-left: 5%;
}

.bell-icon:hover,
.bell-icon:active {
  color: #4a6385; /* Blue when hovered */
}

.bell-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.5rem;
  transition: color 0.2s ease-in-out;
  position: relative;
}

