.home-page {
  padding: 20px;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.content {
  flex-grow: 1;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.content.collapsed {
  margin-left: 80px; /* Width when sidebar is collapsed */
}

.home-page h2 {
  margin-top: 30px;
  margin-bottom: 10px;
}

.home-page p {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .home-page {
    margin-left: 80px;
  }
}

.home-page .search-bar {
    display: flex;
    align-items: center;
  }
  
  .home-page .search-bar input {
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  .home-page .search-bar button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }